@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap");

:root {
  --fw-thin: 300;
  --fw-medium1: 500;
  --fw-medium2: 600;
  --fw-bold: 700;
  --ff-regular: "Open Sans", sans-serif;
  --clr-coconut: #f5f7f2;
  --clr-blue: #0061fe;
  --clr-dark: #1e1919;
  --clr-black: #000;
  --clr-white: #fff;
  --transition: all 0.3s linear;
}
/* Global styles */
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-regular);
  /* background-color: var(--clr-white); */
}
img {
  width: 100%;
  display: block;
}
.clearfix::after,
.clear::before {
  content: "";
  clear: both;
  display: table;
}
.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1300px;
  /* height: 120vh; */
  padding-bottom: 4rem;
}

/* ================================
navbar
================================ */
.navbar {
  display: inline-block;
}
.website-logo-container {
  width: 52px;
  /* display: inline-block; */
}
.nav-item {
  display: inline-block;
  padding: 0.85rem 0.5rem;
  list-style-type: none;
}
.app-title {
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-bottom: 2px; */
  float: left;
  margin-top: 10px;
}
.left-container {
  float: left;
}
.right-container {
  float: right;
}
.get-started {
  background: var(--clr-blue);
  color: var(--clr-white);
  font-weight: var(--fw-medium2);
  text-align: center;
  margin-top: 2px;
  padding-bottom: 11px;
  margin-top: 2px;
  padding-bottom: 16px;
  padding-top: 9px;
  margin-right: 2px;
}
.signin {
  /* display: inline-block; */
  padding-top: 1px;
  margin-top: 10px;
  float: left;
}
.nav-list {
  display: inline-block;
}

.nav-item-left {
  float: left;
}
.nav-item-right {
  float: right;
}
.header {
  height: 3.35rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 1px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  /* position: fixed; */
  z-index: 3;
}
.nav-btn {
  display: none;
}
.bars,
.cross {
  display: none;
}
@media screen and (max-width: 1100px) {
  .nav-btn {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem;
  }
  .cross {
    display: none;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 52px;
    z-index: 9;
    left: 0;
    width: 100%;
    height: 100vw;
    background-color: var(--clr-coconut);
    /* transform: translate(100vw); */
  }
  .show-nav {
    transform: translate(0);
  }

  .navbar li {
    display: block;
    float: none;
  }
  .nav-item-left,
  .nav-item-right {
    float: none;
    padding-left: 3rem;
  }
  .signin {
    padding-right: 17px;
  }
  .get-started {
    margin-top: 2px;
    padding-bottom: 16px;
    padding-top: 9px;
  }
}
/* @media screen and (max-width:1190px){
  
} */
/* ==============================
==============================
============================== */
/* .nav-small {
  position: absolute;
  z-index: 2;
  border: 2px solid red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-coconut); */
/* hide nav */
/* transform: translate(100vw);
} */
.nav-small li {
  /* border: 1px solid red; */
  margin-left: 2rem;
  list-style-type: none;
  padding: 12px;
  text-transform: capitalize;
}

/* ===============================*/
/* main */
/* ===============================  */
.main {
  background-color: var(--clr-coconut);
  position: relative;
}
.heading {
  font-size: 1.3rem;
  text-align: center;
  padding: 4rem;
}

.use-article {
  float: left;
  width: 50%;
  background-color: var(--clr-white);
}
.use-article-right {
  border-left: 0.1px solid rgba(0, 0, 0, 0.2);
}
.article-main {
  min-height: 9rem;
}
.use-img-container {
  background-color: #eee9e2;
  height: 100px;
  margin: 0 0.5rem;
}
.use-img-container img {
  height: 100%;
  object-fit: cover;
}
.use-heading {
  padding: 0.75rem 0.5rem;
  letter-spacing: 0.05rem;
  font-size: 2rem;
}
.use-text {
  padding: 0.05rem 0.5rem;
  max-width: 30rem;
  margin-right: 1rem;
}
.use-button {
  padding: 1.2rem;
  font-weight: var(--fw-medium2);
  background-color: var(--clr-blue);
  color: var(--clr-white);
  margin: 0.5rem 0.5rem;
}
.use-button span {
  float: right;
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .use-article {
    float: left;
    width: 100%;
    margin-top: 1.5rem;
  }
  .use-article-right {
    border-left: none;
  }
}
/* ==============================
features
============================== */
.feature-section {
  /* height: 120vh; */
  background-color: var(--clr-dark);
  color: var(--clr-coconut);
  /* margin: 3rem 0; */
}
.feature-img {
  width: 3rem;
}
.feature-heading {
  text-align: center;
  padding: 6rem 0;
}
.feature-text {
  max-width: 15rem;
}
.feature-item {
  width: 33%;
  float: left;
  /* margin-top: 2rem; */
  margin-right: 2px;
  min-height: 10rem;
}
@media screen and (max-width: 850px) {
  .feature-item {
    width: 100%;
  }
  .feature-text {
    max-width: 100%;
  }
}

/* ===============================
collab section
=============================== */
.collab-section {
  background-color: var(--clr-coconut);
  /* height: 100vh; */
  /* margin-top: -4rem; */
}
.collab-img-container {
  width: 24vw;
  background: white;
}
.collab-img-container img {
  height: 100%;
}
.collab-heading {
  padding-top: 1.5rem;
}
.collab-text {
  max-width: 24vw;
  padding: 1.5rem 0;
}
.collab1,
.collab2,
.collab3 {
  width: 33.33%;
  float: left;
}
.collab-title {
  /* height: 30vh; */
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.collab-title h2 {
  max-width: 40rem;
  margin: 0 auto;
  font-size: 2.5rem;
}
.collab-title p {
  font-size: 1rem;
}
@media screen and (max-width: 1050px) {
  .collab1,
  .collab2,
  .collab3 {
    width: 100%;
    float: left;
  }
  .collab-img-container {
    width: 100%;
    margin: 0 auto;
  }
  .collab-img-container img {
    object-fit: contain;
    margin: 0 auto;
  }
  .collab-heading {
    max-width: 60%;
  }
  .collab-text {
    max-width: 100%;
  }
}

/* =================================
footer
================================= */
.footer {
  background-color: var(--clr-black);
  color: var(--clr-coconut);
  /* height: 100vh; */
  /* padding-top: 1.5rem; */
}
.list li {
  list-style: none;
  font-size: 0.85rem;
  padding: 0.2rem 0;
}
.list .list-head {
  /* display: inline-block; */
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.list {
  width: 20%;
  float: left;
  text-transform: capitalize;
}

.icon-section {
  /* display: inline-block; */
  /* padding-left: 5.2rem; */
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  /* margin-bottom: 2rem; */
  font-size: larger;
  padding: 1.5rem 0;
  margin-left: -0.4rem;
}
.icon-section span {
  padding: 0 0.4rem;
}
.divider {
  height: 0.03rem;
  background-color: var(--clr-coconut);
  width: 6rem;
  /* margin-left: 5.2rem; */
  opacity: 0.6;
  margin: 0.5rem 0;
}
.lang {
  margin-top: 2rem;
}
.globe-icon {
  padding-right: 0.4rem;
}
.lang {
  width: 40%;
}
.lang .lang-text span {
  /* display: inline-block; */
  /* margin-right: 2rem */
  float: right;
}
@media screen and (max-width: 800px) {
  .list {
    width: 33.33%;
    float: left;
    min-height: 20rem;
  }
}
@media screen and (max-width: 500px) {
  .list {
    width: 50%;
    float: left;
    min-height: 20rem;
  }
}
@media screen and (max-width: 721px) {
  .lang {
    width: 50%;
  }
}
