@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap");

:root {
  --fw-thin: 300;
  --fw-medium1: 500;
  --fw-medium2: 600;
  --fw-bold: 700;
  --ff-regular: "Open Sans", sans-serif;
  --clr-coconut: #f5f7f2;
  --clr-blue: #0061fe;
  --clr-dark: #1e1919;
  --clr-black: #000;
  --clr-white: #fff;
  --transition: all 0.3s linear;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-regular);
  /* background-color: var(--clr-white); */
}
img {
  width: 100%;
  display: block;
}
.clearfix::after,
.clear::before {
  content: "";
  clear: both;
  display: table;
}
.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1300px;
  height: 120vh;
}
.navbar {
  height: 47px;
}
.website-logo-container {
  height: 100%;
  width: 47px;
  /* width: 10%; */
  float: left;
}
.app-title {
  float: left;
  padding: 0.5rem 0.7rem;
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}
.get-started {
  float: right;
  background: var(--clr-blue);
  color: var(--clr-white);
  margin: 0.1rem;
  font-weight: var(--fw-medium2);
  height: 2.2rem;
  margin: 0.5rem 0;
  width: 15%;
  padding: 0.3rem;
  text-align: center;
}
.signin {
  float: right;
  height: 100%;
  padding: 0.8rem;
}
.nav-icon {
  height: 100%;
  /* height: 3rem; */
}
/* nav-heading {
  font-weight: ;
} */
.nav-item {
  display: inline-block;
  font-size: 1rem;
  font-weight: var(--fw-thin);
  padding: 0.7rem;
}
.nav-item-left {
  float: left;
}
.nav-item-right {
  float: right;
}
.header h4,
.header div {
  display: inline-block;
}
/* .navbar { */
/* display: inline-block; */
/* width: 74%; */
/* } */
.header {
  width: 100vw;
  height: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
/* .nav-title {
} */

/* ===============================*/
/* main */
/* ===============================  */
.main {
  background-color: var(--clr-coconut);
  height: 120vh;
  margin-bottom: 11rem;
}
.heading {
  height: 40%;
}
.heading h1 {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 7rem 0;
  /* padding-top: rem; */
  /* font-size: 2.2rem; */
}

.use-article {
  float: left;
  width: 50%;
  background-color: var(--clr-white);
  margin-top: 3rem;
  height: 60vh;
}
.use-article-right {
  border-left: 0.1px solid rgba(0, 0, 0, 0.2);
}
.use-text {
  max-width: 30rem;
}
.use-img-container {
  background-color: #eee9e2;
  height: 30vh;
}
.use-img-container img {
  height: 100%;
  object-fit: cover;
}
.use-heading {
  padding: 0.75rem 0.5rem;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
}
.use-text {
  height: 5rem;
  padding: 0.75rem 0.5rem;
}
.use-button {
  height: 4rem;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  margin: 0.5rem 0.5rem;
  margin-right: 3rem;
}
.use-button span {
  display: block;
  float: right;
  padding-right: 3rem;
  padding-bottom: 2rem;
  font-weight: 500;
  font-size: 1rem;
}

/* ==============================
features
============================== */
.feature-section {
  height: 120vh;
  background-color: var(--clr-dark);
  color: var(--clr-coconut);
  margin: 3rem 0;
}
.features-container {
  /* color: red; */
  /* height: 60vh; */
}
.feature-img {
  width: 3rem;
}
.feature-heading {
  height: 20rem;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-bottom: -4rem;
}
.feature-text {
  max-width: 20rem;
}
.feature-item {
  width: 33%;
  height: 12rem;
  float: left;
  margin-top: 2rem;
}

/* ===============================
collab section
=============================== */
.collab-section {
  background-color: var(--clr-coconut);
  height: 100vh;
  margin-top: -4rem;
}
.collab-img-container {
  width: 20rem;
}
.collab-img-container img {
  height: 30vh;
}
.collab-text {
  max-width: 20rem;
}
.collab1,
.collab2,
.collab3 {
  width: 33.33%;
  float: left;
}
.collab-title {
  height: 30vh;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 12rem;
}
.collab-title h2 {
  max-width: 30rem;
  margin: 0 auto;
}
.collab-title p {
  max-width: 35rem;
  margin: 0 auto;
}
.collab-container {
  height: 70vh;
}

/* =================================
footer
================================= */
.footer {
  background-color: var(--clr-black);
  color: var(--clr-coconut);
  height: 100vh;
  padding-top: 1.5rem;
}
.list li {
  list-style: none;
  font-size: 0.85rem;
  padding: 0.2rem 0;
}
.list .list-head {
  display: inline-block;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.list {
  width: 20%;
  float: left;
  text-transform: capitalize;
}
.footer-section {
  margin-top: 5rem;
  height: 60vh;
}
.icon-section {
  display: inline-block;
  padding-left: 5.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  font-size: larger;
}
.icon-section span {
  padding: 0.4rem;
}
.divider {
  height: 0.03rem;
  background-color: var(--clr-coconut);
  width: 6rem;
  margin-left: 5.2rem;
  opacity: 0.6;
}
.lang {
  margin-left: 5.2rem;
  margin-top: 2rem;
}
.globe-icon {
  padding-right: 0.4rem;
}
.lang .lang-text {
  display: inline-block;
  margin-right: 2rem;
}
